@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Roboto", sans-serif;
    --font-title: "Arial";
    --color-bg: #e4e3e4;
    --color-links: #006c86;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
}

.container {
    max-width: 960px;
    padding-inline: 10px;
    margin: 0 auto;
}

.header-top {
    background-color: white;
    padding-block: 10px;
}

.lang-menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: flex-end
}

.lang-btn {
    background: #5f5f5f;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.header-bottom {
    padding-block: 10px;
}

.header-borrom-wrapper {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}

.logo {
    width: 300px;
    height: 50px;
    background: #5f5f5f;
    font-size: 40px;
    color: white;
    text-align: center;
}

.header-links-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.header-block {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header-icon {
    display: inline-block;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.link {
    display: block;
}

.link:hover {
    color: var(--color-links);
}

.menu {
    display: flex;
    width: 100%;
}

.menu-list {
    flex: 1 1 auto;
}

.menu-link {
    text-align: center;
    display: block;
    background: #616161;
    padding-block: 15px;
    color: white;
    text-transform: uppercase;
}

.menu-link:hover {
    background: #a9a9a9;
}

.hero {
    padding-block: 15px;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    background: #cccccc;
    padding: 20px;
}

.hero-form-title {
    font-size: 20px;
}

.hero-form {

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    label {
        display: block;
    }

    input {
        border: 1px solid #000;
        width: 100%;
    }

    button {
        background: var(--color-links);
        color: white;
        border-radius: 3px;
        padding: 10px 60px;
    }

}

.hero-form-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.hero-box {
    background: white;
    padding: 20px;
    text-align: center;

    button {
        background: var(--color-links);
        color: white;
        border-radius: 3px;
        padding: 10px 60px;
    }
}

.hero-box * {
    margin-block: 10px;
}

.hero-box p {
    text-align: left;
}

.hero-box-text {
    font-weight: 700;
}

.block-boxes-wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.box-card {
    border-radius: 5px;
    overflow: hidden;
}

.box-image {
    background: #959595;
    height: 200px;
}

.box-title {
    font-size: 18px;
    text-transform: uppercase;
}

.box-text {
    font-family: var(--font-title);
    font-size: 13px;
    margin-top: 10px;
}

.box-content {
    padding: 20px;
    background: white;
}

.block-boxes-wrapper2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-block: 50px;
}

.box {
    height: 130px;
    background: #6f6f6f;
}

.block-boxes3 {
    background: #6f6f6f;

}



