@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Roboto", sans-serif;
    --font-title: "Arial";
    --color-bg: #e4e3e4;
    --color-links: #006c86;
}

.hidden {
    display: none;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
}

.container {
    padding-inline: 10px;
    margin: 0 auto;

    @media (width < 576px) {
        max-width: 95%;
    }


    @media (width >= 576px) {
        max-width: 540px;
    }

    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 992px) {
        max-width: 960px;
    }
}

.header-top {
    background-color: white;
    padding-block: 10px;
}

.lang-menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: flex-end
}

.lang-btn {
    background: #5f5f5f;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.header-bottom {
    padding-block: 10px;
}

.header-borrom-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    justify-content: space-between;
}

.logo {
    width: 100%;
    height: 50px;
    background: #5f5f5f;
    font-size: 40px;
    color: white;
    text-align: center;
}

.header-links-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin-block: 10px;
}

.header-block {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 14px;
}

.header-icon {
    display: block;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #000;
}

.link {
    display: block;
}

.link:hover {
    color: var(--color-links);
}

.menu {
    display: none;
    width: 100%;
    
    @media (width > 768px)  {
        display: block;
    }
}

.menu-list {
    flex: 1 1 auto;
}

.menu-link {
    text-align: center;
    display: block;
    background: #616161;
    padding-block: 15px;
    color: white;
    text-transform: uppercase;
}

.menu-link:hover {
    background: #a9a9a9;
}

.mobile-menu {
    display: flex;
    column-gap: 10px;
    background: #616161;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

.hero {
    padding-block: 15px;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 50px;
    background: #cccccc;
    padding: 20px;
}

.hero-right {
    font-family: var(--font-title);
}

.hero-form-title {
    font-size: 20px;
}

.hero-form {

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    label {
        display: block;
    }

    input {
        border: 1px solid #000;
        width: 100%;
    }

    button {
        background: var(--color-links);
        color: white;
        border-radius: 3px;
        padding: 10px 60px;
    }

}

.hero-form-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.hero-box {
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;

    button {
        background: var(--color-links);
        color: white;
        border-radius: 3px;
        padding: 10px 60px;
    }
}

.hero-box * {
    margin-block: 10px;
}

.hero-box p {
    text-align: left;
}

.hero-box-text {
    font-weight: 700;
    font-family: var(--font-title);
    font-size: 13px;
}

.block-boxes-wrapper1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.box-card {
    border-radius: 5px;
    overflow: hidden;
}

.box-image {
    background: #959595;
    height: 200px;
}

.box-title {
    font-size: 18px;
    text-transform: uppercase;
}

.box-text {
    font-family: var(--font-title);
    font-size: 13px;
    margin-top: 10px;
}

.box-content {
    padding: 20px;
    background: white;
}

.block-boxes-wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-block: 50px 20px;
}

.box {
    height: 130px;
    background: #6f6f6f;
    display: none;
}

.block-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 10px 20px;
}

.btn-more {
    color: var(--color-links);
    text-decoration: underline;
}

.block-boxes3 {
}

.block-boxes-wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #6f6f6f;
    padding: 20px;
    border-radius: 5px;
}

.box-item {
    background: #fff;
    height: 50px;
}

/* Media */

@media (width < 576px) {
    .box:nth-child(-n+4) {
        display: block;
    }

    .block-boxes-wrapper3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (width > 576px) {
    .header-borrom-wrapper {
        flex-direction: row;
    }

    .logo {
        width: 300px;
    }

    .header-links-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .header-block {
        font-size: 16px;
    }

    .box:nth-child(-n+4) {
        display: block;
    }

    .block-boxes-wrapper3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .block-boxes-wrapper1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .box:nth-child(-n+6) {
        display: block;
    }

    .block-boxes-wrapper2 {
        grid-template-columns: repeat(4, 1fr);
    }

    .box:nth-child(-n+8) {
        display: block;
    }

}

@media (width > 992px) {
    .hero-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .block-boxes-wrapper1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .box:nth-child(-n+12) {
        display: block;
    }

    .block-more {
        display: none;
    }

    .block-boxes-wrapper3 {
        grid-template-columns: repeat(3, 1fr);
    }
}
}



